<div class="input-wrapper" #dropreference> 
	<div class="input" >

    <custom-select-option  *ngIf="displayText" mode="'selected'" [value]="displayText"></custom-select-option>
    <span *ngIf="displayText"  class="dropdown-arrow" (click)="onDropMenuIconClick($event)">🔽</span>
    <input *ngIf="!displayText" #input
		       placeholder={{placeholder}}
		       [disabled]="disabled"
		       readonly
		       [value]="displayText"
		       (click)="showDropdown()"
		       autocomplete="off">
		<span *ngIf="!displayText"  class="dropdown-arrow" (click)="onDropMenuIconClick($event)">🔽</span>
		<custom-dropdown [reference]="dropreference" #dropdownComp>
			<div class="dropdown-options-container">
				<ng-content select="custom-select-option"></ng-content>
			</div>
		</custom-dropdown>
	</div>
</div>
